name: Execute Test

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build_execute:
    name: Execute Test
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
          java-package: jdk

      - name: Execute test
        run: ./gradlew clean test -i -Denvironment=run_action

      - name: Deploy Gh pages
        if: always()
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: target/site/serenity # The folder the action should deploy.


